<%- include("partials/header"); -%>
<table id="table">
    <tr>
        <th>EMAIL</th>
        
        <th>AMOUNT</th>
        <th>DATE/TIME</th>
    </tr>
    <%for(let i=0;i<newListCustomers.length;i++){%>
        <tr>
            <td><%=newListCustomers[i].receiver%></td>
            
            <td><%=newListCustomers[i].amount%></td>
            <td><%=newListCustomers[i].createdAt%></td>
            
           
        </tr>
          
       <%}%>
       
       
    
</table>
<%- include("partials/footer"); -%>